langchain
langchain-core
transformers
python-dotenv
numpy 
scikit-learn
torch
sentence_transformers
streamlit
langchain-community
langchain-ollama
grandalf
pypdf
bs4
langchain-chroma
faiss-cpu
langchain-classic
pymupdf
duckduckgo-search 
langchain_experimental
ddgs
requests
langgraph
langgraph-checkpoint-sqlite